<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <title>主页</title>
      <style>
          body{
        background: url("/static/img/timg_index.jpg");
        background-repeat: no-repeat;
        background-size: 100% auto;
        }
      </style>
  </head>
  {% extends 'base.html' %}
{% block content %}
  <body>
  
  </body>
    <script type= "text/javascript" src= "/static/JS/jquery-1.11.0.min.js" ></script>
{% endblock %}